.bibleContainer {
    grid-row: 1/3;
    grid-column: 1/3;
    height: 100%;

    transition: transform 0.2s ease-in-out;
}

.bibleContainer p {
    margin: 1vw;

    color: white;
    font-size: 1em;
    font-family: 'Kode Mono', monospace;
}

@media (max-width: 1200px) {
    #message {
        display: none;
    }
}